<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Object Cannon", new_game_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Start Game", new_game_path %></li>
        <li><%= link_to "Ranking", games_ranking_path %></li>
      </ul>
    </nav>
  </div>
</header>